.moviestar {
    margin-right: 10px;
}

.gifClass {
    float: left;
    padding: 20px;
}

.padding {
    padding: 20px;
}

.add-moviestar {
    padding: 20px;
}

body {
    font-family: 'Lobster', cursive;
}
